<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="null" class="main.java.com.test01.MessageBeanImpl"/>
    <!-- bean : 객체 -->
    <!-- MessageBeanImpl null = MessageBeanImpl(); -->

    <bean id="apple" class="main.java.com.test01.MessageBeanImpl">
        <constructor-arg value="apple"/>
        <constructor-arg value="10000"/>
    </bean>
    <!-- MessageBeanImpl apple = MessageBeanImpl("apple", 10000); -->

    <bean id="mango" class="main.java.com.test01.MessageBeanImpl">
        <constructor-arg value="mango"/>
        <constructor-arg value="15000"/>
    </bean>
    <!-- MessageBeanImpl mango = MessageBeanImpl("mango", 10000); -->

    <bean id="banana" class="main.java.com.test01.MessageBeanImpl">
        <constructor-arg index="0" value="banana"/>
        <constructor-arg index="1" value="20000"/>
    </bean>
    <!-- MessageBeanImpl banana = MessageBeanImpl("banana", 10000); -->

    <!-- DI(의존 주입) : 객체를 만들면서 값을 주입
         IoC(Inversion Of Control) : 역전 제
    -->

    <bean id="me" class="main.java.com.test02.Address">
        <constructor-arg index="0" value="박관우"/>
        <constructor-arg index="1" value="인천"/>
        <constructor-arg index="2" value="010-6319-4712"/>
    </bean>

    <bean id="friend" class="main.java.com.test02.Address">
        <constructor-arg index="0" value="모두한"/>
        <constructor-arg index="1" value="인천"/>
        <constructor-arg index="2" value="010-1234-1234"/>
    </bean>


    <bean id="lee" class="main.java.com.test03.Address">
        <property name="name" value="이순신"/>
        <property name="addr" value="서울"/>
        <property name="phone" value="010"/>
    </bean>

    <bean id="park" class="main.java.com.test03.Address">
        <property name="name" value="박"/>
        <property name="addr" value="인천"/>
        <property name="phone" value="010"/>
    </bean>
</beans>